{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}

<aside class="body">
    <table>
        <thead>
            <th>#</th>
            <th>Название лабораторной работы</th>
            <th>Описание работы</th>
            <th>Видеозапись лекции</th>
        </thead>
        <tbody>
            {% for lab in articles_page.object_list %}
            <tr>
                <td>{{ loop.index }}</td>
                <td><a href="{{ SITEURL }}/{{ lab.url }}"> {{ lab.title }} </a></td>
		<td>{{ lab.summary }}</td>
		<td> {% if lab.lecture_link %}<a href="{{ lab.lecture_link }}">Лекция №{{ loop.index }}</a>{% endif %} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</aside>

{% endblock content %}
